<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="bancoParaUsar" value="sqlite"/>
  </appSettings>
  
  <connectionStrings>
    <add
      name="sqlite"
      connectionString="data source=..\..\..\Database\sqliteDB.db;
      datetimeformat=CurrentCulture"
     />
    
    <add
      name="sqlserver"
      connectionString="
      Data Source=(LocalDb)\MSSqlLocalDB;
      Initial Catalog=DBControleTarefas;
      Integrated Security=True;
      Pooling=False"
     />
  </connectionStrings>
  
</configuration>